.project-card {
  background: #111;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  top: 5rem;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Image */
.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content */
.card-content {
  padding: 16px;
}

.card-content h3 {
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  opacity: 0.8;
}

/* Tech Tags */
.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tech-tags span {
  background: #222;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* Buttons */
.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
}

.project-card:hover .card-buttons {
  opacity: 1;
  transform: translateY(0);
}

.card-buttons a {
  text-decoration: none;
  color: #fff;
  background: #ff6a00;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.3s;
}

.card-buttons a:hover {
  background: #ff8533;
}

/* Responsive */
@media (max-width: 768px) {
  .card-image img {
    height: 180px;
  }
  .project-card{
    position: relative;
  }
}

@media (max-width: 480px) {
  .card-image img {
    height: 160px;
  }

  .card-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
